@model IEnumerable<EasyUILearn.Models.UserModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table id="dgrid" class="easyui-datagrid" style="width:700px;height:250px"
           data-options="fit:true,rownumbers:true,singleSelect:true,url:'/UserManager/ShowUser',method:'get',toolbar:'#tb',footer:'#ft'">
        <thead>
            <tr>
                <th data-options="field:'Id',width:80,checkbox:true">Item ID</th>
                <th data-options="field:'Name',width:100">Name</th>
                <th data-options="field:'PassWord',width:80,align:'right'">PassWord</th>
            </tr>
        </thead>
    </table>
    <div id="tb" style="padding:2px 5px;">
       Name: <input id="name" type="text" style="width:110px">
        PassWord: <input id="pwd" type="text" style="width:110px">
        Language:
        <select class="easyui-combobox" panelheight="auto" style="width:100px">
            <option value="java">Java</option>
            <option value="c">C</option>
            <option value="basic">Basic</option>
            <option value="perl">Perl</option>
            <option value="python">Python</option>
        </select>
        <a href="#" id="addUser" class="easyui-linkbutton" iconcls="icon-search">添加</a>
    </div>
    <div id="ft" style="padding:2px 5px;">
        <a id="deleteuser" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除用户</a>
        <a id="edituser" href="#" class="easyui-linkbutton">编辑用户</a>
    </div>
    <script>
        $("#deleteuser").on("click", function () {

            var rarr = new Array();
            rarr = $('#dgrid').datagrid('getChecked');
            if (rarr.length <= 0) {
                alert("请选择要删除的用户！");
                return;
            }
            
            var vo = rarr[0];
            alert(vo["Id"]);
            $.messager.confirm('删除', '确定删除用户?', function (r) {
                if (r) {
                    alert('confirmed: ' + r);

                    $.ajax({
                        type: "POST",
                        url: "/UserManager/DeleteUser",
                        data: {
                            userId: vo["Id"]
                        },
                        success: function (msg) {
                            if (msg == 1) {
                                alert("删除成功！");
                                $('#dgrid').datagrid('reload');
                                
                            } else {
                                alert("删除失败！");
                            }
                        }
                    });
                }
            });
        });


        $("#addUser").on('click', function () {
            $.ajax({
                type: "POST",
                url: "/UserManager/AddUser",
                data: {
                    name: $('#name').val(),
                    passWord:$("#pwd").val()
                },
                success: function (msg) {
                   
                    if (msg == "-1")
                    {
                        alert("添加失败！");
                    } else {
                        alert("添加成功！");
                        $('#dgrid').datagrid('reload');
                    }
                   
                }
            });
        });
        //Array arr = $('#dgrid').datagrid('getChecked');
       
    </script>
</body>
</html>
